<div>
  <h1>Lista de jugadores sin club.</h1>
  <div *ngFor="let player of jugadores">
    <div class="card mb-3" style="width: 18rem;">
      <img [src]="player.foto" class="card-img-top" alt="...">
      <div class="card-body">
        <h5 class="card-title text-center">Nombre: {{player.nombre}}</h5>
        <p class="card-text text-center">Edad: {{player.edad}}.</p>
      </div>
      <div>
          <button type="button" (click)="fichar(player.id)" class="mb-3 ml-2 btn btn-primary">Fichar jugador</button>
      </div>
    </div>
  </div>
</div>