<div> 
  <div *ngIf="contenido.error==0">
    <h1>Lista de jugadores</h1>
      <div *ngFor="let player of contenido.jugadores">
        <div class="card mb-3" style="width: 18rem;">
          <img [src]="player.foto" class="card-img-top" alt="...">
          <div class="card-body">
            <h5 class="card-title text-center">{{player.nombre}}</h5>
            <p class="card-text text-center">Edad: {{player.edad}}.</p>
          </div>
        </div>
      </div>
  </div>
  <div  class="text-center" *ngIf="contenido.error==1">
    El club no poseee jugadores.
  </div>
  <div>
      <a class="nav_link" [routerLink]="['/listajugadores']" type="button" class="btn btn-warning">Fichar nuevos jugadores</a>
  </div>
</div>