<div class="container text-center">
 
  
  <form (ngSubmit)="logear(forma)" #forma="ngForm">
    <h2 class="mb-5">
      Bienvenido al sistema de fichajes.
    </h2>
    <div>
    <label for="">Usuario: &nbsp; </label>
    <input name = "nombre" [(ngModel)]="ingresoLogin.nombre">
  </div>
  <div class="mt-4 mb-4">
    <label for="">Password: &nbsp;</label>
    <input type="password" name = "password" [(ngModel)]="ingresoLogin.password">
  </div>
  <div *ngIf="mostrar">
      <span style="color: red">El usuario y contraseña ingresado es incorrecto.</span> <br> <br>
  </div> 
    <button type="submit" class="ml-2 btn btn-primary">Ingresar</button>

  </form>
</div>