<div class="text-left mb-5">Bienvenido al portal de la AFA para dar de alta jugadores</div>
<form (ngSubmit)="guardar(forma)" #forma="ngForm">
<label class="mr-3" for="">Nombre: </label>
<input name="nombre" [(ngModel)]="creoPlayer.nombre"> <br>
<label class="mr-3" for="">Edad: </label>
<input name="edad" [(ngModel)]="creoPlayer.edad"> <br>
<label class="mr-3" for="">Foto:</label>
<input name="foto" [(ngModel)]="creoPlayer.foto"> <br>

<button  type="submit">Dar de alta</button>

</form>